@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito+Sans&display=swap');

@media screen and (min-width: 1100px) {
    .desktop-nav {
        width: 100%;
    }

    nav {
        width: 60%;
        max-width: 650px;
    }

    .menu-icon,
    .mobile-nav,
    .nav-list.mobile {
        display: none;
    }

    .nav-list {
        justify-content: space-between;
    }

    .nav-item a:hover {
        color: #10c9c3;
    }

    /*BANNER*/
    .wrapper.banner {
        justify-content: flex-end;
        height: 88vh;
    }

    .banner-box {
        margin-top: -100px;
        max-width: 510px;
        width: 40%;
    }

    .banner-text {
        width: 90%;
    }

    /*About*/
    .wrapper.about {
        padding: 4% 0;
    }

    .about-text {
        width: 60%;
    }

    /*PROGRESS*/
    .wrapper.progress {
        justify-content: space-between;
        height: 100vh;
    }

    .progress-box {
        width: 50%;
        padding: 0 6%;
    }

    .progress-lines {
        margin-top: 2.5rem;
    }

    .progress-img {
        width: 50%;
    }
}

@media screen and (max-width:1099px) {
    .desktop-nav {
        display: none;
    }

    .menu-icon {
        display: flex;
    }

    body {
        position: relative;
    }

    .nav-list.mobile {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 40%;
        margin-top: 4.5rem;
    }

    .nav-item a {
        display: inline-block;
    }

    .nav-item:hover {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        margin: -1px 0;
    }

    .mobile-nav-active {
        display: flex;
    }

    /*BANNER*/
    .wrapper.banner {
        justify-content: center;
        height: 60vh;
    }

    .banner-box {
        width: 100%;
        text-align: center;
        max-width: 590px;
    }

    .banner-text {
        width: 100%;
        background-color: rgb(244, 253, 255);
        opacity: 0.8;
        padding: 0.5rem;
    }

    /*About*/
    .wrapper.about {
        padding: 7% 0;
    }

    .about-text {
        width: 85%;
    }

    /*PROGRESS*/
    .wrapper.progress {
        height: 70vh;
        justify-content: center;
        text-align: center;
    }

    .progress-box {
        position: absolute;
        width: 50%;
        min-width: 260px;
        background-color: rgb(244, 253, 255);
        opacity: 0.9;
        padding: 5% 3%;
        align-self: center;
    }

    .progress-lines {
        margin-top: 2.5rem;
    }

    .progress-img {
        width: 100%;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

header {
    background-color: #dce6e8;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("img/header-back.jpg");
}

.nav-wrapper {
    padding: 1.5rem 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.nav-list {
    display: flex;
    width: 100%;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}


.nav-item a {
    width: 100%;
}


/*Mobile version menu*/

.mobile-nav {
    background-color: #10c9c3;
    position: absolute;
    right: 0;
    padding-top: 0.4rem;
    height: 100vh;
    top: 0;
    width: 200px;
    z-index: 20;
    opacity: 100%;
    margin-right: -300px;
    transition: margin-right 1s linear;
}


.mobile-nav .nav-item {
    padding: 0.5rem 1.2rem;
    width: 100%;
}

.mobile-nav-active {
    justify-content: center;
    align-items: stretch;
    margin-right: 0px;
    transition: margin-right 1s linear;
}


/* MENU BUTTON */

.menu-icon {
    z-index: 99;
    width: 30px;
    height: 30px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.menu-line {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: rgb(37, 37, 37);
}

.menu-line:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    top: -10px;
    left: 0;
    background-color: rgb(37, 37, 37);
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-line:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    top: 10px;
    left: 0;
    background-color: rgb(37, 37, 37);
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-line-active .menu-line {
    background-color: transparent;
}

.menu-icon.menu-line-active .menu-line:before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-line-active .menu-line:after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

/*-----------------------------*/
/* Banner */
.wrapper {
    width: 100%;
    display: flex;
}

.wrapper.banner {
    align-items: center;
    padding: 4%;
}


.text-nanito {
    margin: 1.6rem 0;
    line-height: 1.5;
}

.btn {
    padding: 1rem;
    background-color: #10c9c3;
    text-transform: uppercase;
    font-size: 13px;
    width: 160px;
    text-align: center;
    display: inline-block;
    color: white;
    transition: background-color 0.5s linear, color 0.5s linear;
}

h1 {
    font-size: 2rem;
}

.btn:hover {
    background-color: rgb(244, 253, 255);
    color: #10c9c3;
}

/*ABOUT*/

.wrapper.about {
    flex-direction: column;
    align-items: center;
}

.about-text {
    text-align: center;
    max-width: 700px;
    min-width: 200px;
}

/*Progress*/
.wrapper.progress {
    background-color: #f9f9f9;
    position: relative;
}

.progress-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.progress-lines {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.progress-lines span {
    font-weight: 600;
    text-transform: uppercase;
}

span .value {
    margin-left: 20px;
}

progress {
    margin-top: 15px;
    width: 100%;
    height: 6px;
    border-radius: 20px;
}

progress:not(.last-progress) {
    margin-bottom: 40px;
}

progress::-webkit-progress-bar {
    border-radius: 20px;
    background-color: #d8d8d8;
}

progress::-webkit-progress-value {
    background-color: #10c9c3;
    border-radius: 20px;
}

.progress-img {
    background-image: url("img/progress.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}